*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: #333;
}

p {
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Rest of the Styling */

#parallax {
  position: fixed;
  z-index: -1;
  height: 60vh;
  width: 100%;
  background-position: center !important;
  transition: background-image .5s ease-in-out;
}

#container {
  display: flex;
  flex-flow: column wrap;
}

#landing-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.6);
  color: white;
  text-align: center;
}

#landing-container h1 {
  font-family: "Berkshire Swash", "Raleway", sans-serif;
  font-weight: 400;
  text-shadow: 0px 3px 3px rgba(38, 38, 38, 0.5);
  letter-spacing: 2px;
}

#landing-container span {
  font-family: inherit, "Raleway", sans-serif;
  color: #e74c3c;
  letter-spacing: 4px;
}

#content-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: white;
}

#content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: white;
}

.content-section > h2 {
  margin: 8px 0;
  align-self: flex-start;
  font-weight: 700;
}

/* .content-section-items hold the content for each section e.g. Music */

.content-section-items {
  display: flex;
  height: auto;
  flex: 1;
  background-color: white;
}

.content-section-items > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content-section-items > a > div {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  transition: background-size .25s;
}

.content-section-items > a > h3 {
  color: white;
  align-self: center;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: opacity .25s;
}

#football > a:first-child {
  flex: 1 1 100%;
  margin-right: 0;
}

/* .content-section-items a's backgrounds */

#football-one {
  background-image: url("../images/old-trafford.jpg");
}

#football-two {
  background-image: url("https://i2-prod.manchestereveningnews.co.uk/incoming/article13786091.ece/ALTERNATES/s615b/JS134046462.jpg");
}

#football-three {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Etihad_Stadium.jpg/1200px-Etihad_Stadium.jpg");
}

#music > a > div {
  background-position: top;
}

#music-one {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/73/Oasis_Liam_and_Noel.jpg");
}

#music-two {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/2017_RiP_-_Liam_Gallagher_-_by_2eight_-_8SC1566.jpg/800px-2017_RiP_-_Liam_Gallagher_-_by_2eight_-_8SC1566.jpg");
}

#music-three {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e0/Noel_Gallagher_at_Razzmatazz%2C_Barcelona%2C_Spain-5March2012_%283%29.jpg");
}

#music-four {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Stone_Roses-17-07-2012_Milan.JPG/1280px-Stone_Roses-17-07-2012_Milan.JPG");
}

#music-five {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ab/Verve_MSG.jpg");
}

#music-six {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/1/19/The_Courteeners.jpg");
}

#music-seven {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/f/ff/SmithsPromoPhoto_TQID_1985.jpg");
}

/* .content-section-items's effects */

.content-section-items > a:hover div {
  background-size: 150% 150%;
}

.content-section-items > a::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.64);
  z-index: 1;
  position: absolute;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  #landing-container h1 {
    font-size: 36px;
    line-height: 48px;
  }

  #landing-container span {
    font-size: 48px;
  }

  .content-section {
    padding: 16px;
  }

  .content-section-items {
    flex-direction: column;
  }
  
  .content-section-items > a {
    height: 320px;
    margin-bottom: 16px;
  }

  .content-section-items > a:last-child {
    margin: 0;
  }

  .content-section-items > a > h3 {
    font-size: 24px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  #landing-container h1 {
    font-size: 48px;
    line-height: 60px;
  }

  #landing-container span {
    font-size: 60px;
  }

  .content-section {
    padding: 24px;
  }

  .content-section-items {
    flex-flow: row wrap;
  }

  .content-section-items > a {
    display: flex;
    height: 320px;
    justify-content: center;
    background-color: #333;
    margin: 0 24px 24px 0;
  }

  #football > a:last-child {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .content-section-items > a {
    flex: 1 1 45%;
  }

  .content-section-items > a:nth-child(even) {
    margin: 0;
  }

  #football > a:nth-child(even) {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1280px) {
  .content-section-items > a {
    flex: 1 1 30%;
  }

  .content-section-items > a:nth-child(3), a:nth-child(6) {
    margin: 0;
  }
}

@media only screen and (max-width: 1280px) {
  #parallax {
    background-size: 100% 100%;
    background-image: url("../images/manc1.jpg") !important;
  }

  .content-section-items > a:last-child {
    margin: 0;
  }

  .content-section-items > a > h3 {
    font-size: 28px;
    opacity: 1;
  }
}

@media only screen and (min-width: 1281px) {
  #parallax {
    background-size: cover;
  }

  #landing-container h1 {
    font-size: 56px;
    line-height: 72px;
  }

  #landing-container span {
    font-size: 64px;
  }

  .content-section {
    padding: 48px;
  }

  .content-section-items {
    flex-flow: row wrap;
  }

  .content-section-items > a {
    height: 480px;
    margin: 0 48px 48px 0;
  }

  #football > a:nth-child(even) {
    margin-right: 48px;
  }

  .content-section-items > a > h3 {
    font-size: 32px;
  }

  .content-section-items > a:hover > h3 {
    opacity: 1;
  }
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  #parallax {
    background-size: 100% 100%;
  }

  .content-section-items > a {
    flex: 1 1 45%;
  }

  .content-section-items > a:nth-child(even), a:last-child {
    margin: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .content-section-items > a {
    flex: 1 1 30%;
  }

  .content-section-items > a:nth-child(3), a:nth-child(6), a:last-child {
    margin: 0;
  }
}