*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
  color: #333;
}

p {
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Raleway", "Roboto", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Rest of the Styling */

#parallax {
  position: fixed;
  z-index: -1;
  height: 60vh;
  width: 100%;
  background-position: center !important;
  transition: background-image .5s ease-in-out;
}

#container {
  display: flex;
  flex-flow: column wrap;
}

#landing-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.6);
  color: white;
  text-align: center;
}

#landing-container h1 {
  font-family: "Berkshire Swash", "Raleway", sans-serif;
  font-weight: 400;
  text-shadow: 0px 3px 3px rgba(38, 38, 38, 0.5);
  letter-spacing: 2px;
}

#landing-container span {
  font-family: inherit, "Raleway", sans-serif;
  color: #e74c3c;
  letter-spacing: 4px;
}

#content-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}

#content-section {
  display: flex;
  height: auto;
  width: 100%;
}

.content-section > h2 {
  margin: 8px 0;
  align-self: flex-start;
  font-weight: 700;
}

/* Content Cards hold the content for each section e.g. Football and Music */

.content-card {
  display: flex;
}

.content-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(51, 51, 51, .5);
  position: relative;
}

.content-card a > div {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  transition: background-size .25s;
}

#sports-one {
  background-image: url("../images/old-trafford.jpg");
}

#sports-two {
  background-image: url("https://mediacdn.mancity.com/-/media/images/home/news/club-news/2015/august/stadium-new.ashx");
}

.content-card a h4 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  z-index: 1;
  transition: opacity .25s;
}

.content-card:hover a > div {
  background-size: 150% 150%;
}

.content-card:last-child {
  margin: 0;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  #landing-container h1 {
    font-size: 36px;
    line-height: 48px;
  }

  #landing-container span {
    font-size: 48px;
  }

  .content-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }

  .content-card {
    height: 280px;
    width: 100%;
    margin: 0 0 16px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  #landing-container h1 {
    font-size: 48px;
    line-height: 60px;
  }

  #landing-container span {
    font-size: 56px;
  }

  .content-section {
    flex-direction: row;
    padding: 24px;
  }

  .content-card {
    height: 320px;
  }
}

@media only screen and (max-width: 1280px) {
  #parallax {
    background-size: 100% 100%;
    background-image: url("../images/manc1.jpg") !important;
  }

  .content-card a > h4 {
    font-size: 24px;
    opacity: 1;
  }

  .content-card a::before {
    content: "";
    height: inherit;
    width: inherit;
    background-color: rgba(51, 51, 51, 0.75);
    z-index: 1;
    position: absolute;
  }
}